:root {
  --main-width: min(100%, 1000px);
}

article.first-entry {
  min-height: auto;
}

img {
  background-color: #fffaf0;
}

.post-content hr {
  --hr-dots-number: 3;
  display: block;
  border: 0px;
  width: 100px;
  height: 8px;
  margin: 30px auto;
  background: radial-gradient(circle closest-side, gray 98%, #0000) 0 /
    calc(100% / var(--hr-dots-number)) 100%;
}

.post-entry {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.post-entry .entry-cover {
  max-width: 150px;
  min-width: 80px;
  margin: 0 !important;
}
.post-entry .entry-cover img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
